<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	
    <div class="pl-4 pr-4">
        <div class="row mb-5">
            <div class="col-md-8">
                <h1>{{job.title}}</h1>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">
                    Position                    
                </label>
                <div>
                    {{job.position}}
                </div>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">
                    Posted Date                    
                </label>
                <div>
                    {{job.created_date}}
                </div>
            </div>
        </div>
        <div style="white-space: pre-wrap;">
            {{job.description}}
        </div>
        <div class="button-row pull-right">
            <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial >Cancel</button>
            <button type="button" mat-raised-button color="primary" (click)="onApply()" [disabled]="viewLoading" matTooltip="Save changes">Apply Now</button>
        </div>
    </div>
</div>    