<kt-portlet>
        <!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
        <kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
            <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    
            <ng-container ktPortletTitle>
                <h3 class="kt-portlet__head-title">
                    <span translate="EMPLOYEEMANEMENT.COMPANIES.COMPANY_LIST">Companies</span>
                </h3>
                <div style="display: flex;align-items: center;padding:1rem">
                    <div style="padding: 0 0.5rem 0 0;font-size: 1rem;font-weight: 500;color: #959cb6;">Total {{companyTotal}}</div>
                    <!-- start::FILTERS -->

                    <div class="kt-margin-bottom-10-mobile ml-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Search company" #searchInput placeholder="Search">
                            <mat-hint align="start">
                                <strong>Search</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>    
                <!-- end::FILTERS -->

                <!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
                <!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
            </ng-container>
            <ng-container ktPortletTools>
                <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="addCompany()" mat-raised-button matTooltip="Create Company">
                    <span class="kt-hidden-mobile">Create Company</span>
                </a>            
                <div>Status&nbsp;&nbsp;&nbsp;</div>
                <select #status>
                    <option [value]=1 selected>Active</option>
                    <option [value]=0>Inactive</option>
                </select>
            </ng-container>        
        </kt-portlet-header>
        <!-- end::Header -->
    
        <kt-portlet-body>
    
            <!-- MATERIAL TABLE | Binded to datasources -->
            <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
            <div class="mat-table__wrapper">
                <mat-table class="lmat-elevation-z8"
                    #table
                    [dataSource]="dataSource"
                    matSort
                    #sort1="matSort"
                    matSortActive="created_at"
                    matSortDirection="desc"
                    matSortDisableClear>
                    <!-- Checkbox Column -->
    
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                        <mat-cell *matCellDef="let company">{{company.name}}</mat-cell>
					</ng-container>
					
                    <ng-container matColumnDef="industry">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Industry</mat-header-cell>
                        <mat-cell *matCellDef="let company">{{company.industry}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="contact_name">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Contact Name</mat-header-cell>
						<mat-cell *matCellDef="let company">{{company.admin_first_name }} {{company.admin_last_name }}</mat-cell>
					</ng-container>
		
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(company.status) }} kt-badge--wide">{{  getItemStatusString(company.status) }}</span>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let company">
                            <ng-template ngxPermissionsOnly="read company">
                                <button mat-icon-button color="primary" matTooltip="View company" (click)="readCompany(company.id)">
                                    <mat-icon>visibility</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" *ngIf="company.status" matTooltip="InActive" (click)="toggleStatus(company)">
                                    <mat-icon>clear</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="green" *ngIf="!company.status" matTooltip="Active" (click)="toggleStatus(company)">
                                    <mat-icon>redo</mat-icon>
                                </button>&nbsp;
                            </ng-template>    
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
                <!-- Message for empty data  -->
                <div class="mat-table__message" *ngIf="!dataSource.hasItems  ">No records found</div>
                <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
            </div>
    
            <!-- start: BOTTOM -->
            <div class="mat-table__bottom">
                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
            </div>
            <!-- end: BOTTOM -->
        </kt-portlet-body>
        <!-- end::Body -->
    
    </kt-portlet>
    