<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
        <!--begin:: Widgets/Applications/User/Profile1-->
        <kt-meta-profile [menus$]="menus$"></kt-meta-profile>
        <!--end:: Widgets/Applications/User/Profile1-->
    </div>
    <!--End:: App Aside-->

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Assets</h3>
                        </div>
                    </div>

                    <div class="mat-table__wrapper">
                        <table class="table" *ngIf="viewLoading==false">
                            <thead>
                                <tr>
                                    <th>IMEI</th>
                                    <th>Item Name</th>
                                    <th>Given Date</th>
                                    <th>Return Date</th>
                                </tr>
                            </thead>
                            <tbody  *ngIf="assets.length>0">
                                <tr *ngFor="let asset of assets">
                                    <td>{{asset.name}}</td>
                                    <td>{{asset.imei}}</td>
                                    <td>{{asset.start_date}}</td>
                                    <td>{{asset.end_date}}</td>
                                </tr>
                            </tbody>
                            <tbody  *ngIf="assets.length==0">
                                <tr>
                                    <td colspan="4">No assets</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="viewLoading" class="ml-4 pl-4 pt-4 mb-4 pb-4">
                            Please Wait
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End:: App Content-->
</div>